<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <head th:fragment="head(title)">
        <meta charset="UTF-8">
        <title th:text="#{|title.${title}|}">Title</title>
        <script src="../js/vue.global.min.js"></script>
        <script src="../js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/custom.css">
        <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    </head>
</head>
<body>
<div th:fragment="header" class="row m-0">
    <nav id="header" class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/" th:text="#{header.home}">Home</a>
                    </li>
                    <li class="nav-item" v-if="roleList.includes('WAREHOUSE_WORKER')">
                        <a class="nav-link" href="/warehouse" th:text="#{header.warehouse}">Warehouse</a>
                    </li>
                    <li class="nav-item" v-if="roleList.includes('ADMIN')">
                        <a class="nav-link" href="/users" th:text="#{header.users}">Users</a>
                    </li>
                </ul>

                <form method="post" class="d-flex" th:action="@{/logout}">
                    <button class="btn btn-outline-light" th:text="#{header.logout}">Logout</button>
                </form>
            </div>
        </div>
    </nav>
    <script>
        Vue.createApp({
            data() {
                return {roleList: []};
            },
            methods: {
                refreshList() {
                    fetch('/api/list-roles', {
                        method: 'GET',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json',
                        }
                    })
                        .then(res => res.json())
                        .then(out => this.roleList = out);
                }
            },
            mounted() {
                this.refreshList();
            }
        }).mount('#header');
    </script>
</div>
</body>
</html>