<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head(title='index')">
</head>
<body>
<div th:replace="fragments/common :: header"></div>
<div class="container mt-3">
    <h3 th:text="#{index.text}"></h3>
</div>
</body>
</html>