<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head(title='login')">
</head>
<body>
<div class="container login-wrapper">
    <h3 th:text="#{login.login}">Login</h3>
    <form method="post" action="#" th:action="@{/login}">
        <fieldset>
            <div class="form-group">
                <label for="username" class="form-label mt-4" th:text="#{login.username}">Username</label>
                <input type="text" class="form-control" name="username" id="username">
            </div>
            <div class="form-group">
                <label for="password" class="form-label mt-4" th:text="#{login.password}">Password</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary" th:text="#{login.login}">Login</button>
            </div>
        </fieldset>
    </form>
    <div class="mt-3" th:if="${param.error}">
        <span th:text="#{login.error}">Invalid username or password.</span>
    </div>
    <div class="mt-3" th:if="${param.logout}">
        <span th:text="#{login.logout}">You have been logged out.</span>
    </div>
</div>
</body>
</html>