<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head(title='users')">
</head>
<body>
<div class="d-flex flex-column h-100">
    <div th:replace="fragments/common :: header"></div>
    <div id="users" class="row flex-grow-1 m-0">
        <div class="container-fluid h-100" style="padding-top: 0.75rem;">
            <div class="row h-100" style="padding-bottom: 0.75rem;">
                <div class="h-100 d-flex flex-column">
                    <div class="row m-0">
                        <h2 class="col-auto" th:text="#{title.users}">Users</h2>
                    </div>
                    <div class="row flex-grow-1 m-0">
                        <div class="h-100 d-flex flex-column p-0" style="width: 550px;">
                            <div class="flex-grow-1 d-flex bg-dark rounded p-1 mb-2">
                                <div class="overflow-y-scroll flex-grow-1 pe-1">
                                    <ul class="bs-component list-group p-0" style="height: 0;">
                                        <li class="list-group-item" v-for="username in usernameList">
                                            <div class="row">
                                                <div class="col">{{ username.username }}</div>
                                                <div class="col-auto p-0 ps-1 pe-1">
                                                    <button type="button" class="btn btn-primary"
                                                            style="padding-top: 0; padding-bottom: 0; padding-left: 8px; padding-right: 8px;"
                                                            v-on:click="editUser(username.id)" th:text="#{users.edit}">
                                                        Edit
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                    data-bs-target="#newModal" th:text="#{users.new}" @click="emptyNewUser">New user
                            </button>
                            <div class="modal fade" id="newModal" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" th:text="#{users.new}">New user</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true"></span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <label for="username" class="form-label" th:text="#{users.username}">Username</label>
                                            <input type="text" class="form-control" id="username"
                                                   v-model="newUserO.username"/>
                                            <label for="password" class="form-label" th:text="#{users.password}">Password</label>
                                            <input type="password" class="form-control" id="password"
                                                   v-model="newUserO.password"/>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-success" data-bs-dismiss="modal"
                                                    @click="saveNew" th:text="#{users.add}">Add
                                            </button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                                    th:text="#{users.cancel}">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-if="typeof editUserO.id !== 'undefined'"
                             class="col bg-dark rounded ms-2 ps-3 pt-2 h-100 d-flex flex-column">
                            <div class="row">
                                <h3 class="col" th:text="#{users.edit_user}">Edit user</h3>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary p-0" @click="emptyEditUser"><img
                                            style="vertical-align: top;" src="images/x.png" width="36"/></button>
                                </div>
                            </div>
                            <div class="row align-items-end">
                                <div class="col">
                                    <label for="edit_username" class="form-label"
                                           th:text="#{users.username}">Username</label>
                                    <input type="text" class="form-control" id="edit_username"
                                           v-model="editUserO.username">
                                </div>
                                <div class="col">
                                    <label for="edit_password" class="form-label"
                                           th:text="#{users.password}">Password</label>
                                    <input type="password" class="form-control" id="edit_password"
                                           v-model="editUserO.password">
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary" @click="saveEdit"
                                            th:text="#{users.save}">Save
                                    </button>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <h4 th:text="#{users.roles}">Roles</h4>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"
                                               id="warehouse_worker_checkbox" disabled
                                               v-model="editUserO.is_warehouse_worker">
                                        <label class="form-check-label" for="warehouse_worker_checkbox"
                                               th:text="#{users.roles.warehouse_worker}">
                                            Warehouse worker
                                        </label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button v-if="!editUserO.is_warehouse_worker" type="button" class="btn btn-primary"
                                            @click="grantRole('WAREHOUSE_WORKER')" th:text="#{users.grant}">Grant
                                    </button>
                                    <button v-if="editUserO.is_warehouse_worker" type="button" class="btn btn-primary"
                                            @click="revokeRole('WAREHOUSE_WORKER')" th:text="#{users.revoke}">Revoke
                                    </button>
                                </div>
                            </div>
                            <div class="flex-grow-1"></div>
                            <div class="row m-0 mb-2">
                                <div class="col"></div>
                                <div class="col-auto ps-1 pe-1">
                                    <button type="button" class="btn btn-danger"
                                            style="padding-left: 30px; padding-right: 30px;"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal" th:text="#{users.delete}">Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="deleteModal" tabindex="-1">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Figyelem!</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p th:text="#{users.delete_message}">Are you sure you want to delete {{editUserO.username}}?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" @click="deleteUser"
                                                th:text="#{users.delete}" data-bs-dismiss="modal">Delete
                                        </button>
                                        <button type="button" class="btn btn-secondary"
                                                th:text="#{users.cancel}" data-bs-dismiss="modal">Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const csrf = document.querySelector('meta[name="_csrf"]').content;

    Vue.createApp({
        data() {
            return {
                newUserO: {},
                editUserO: {},
                usernameList: [],
                is_warehouse_worker: false
            };
        },
        methods: {
            refreshList() {
                fetch('/api/users', {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                    }
                })
                    .then(res => res.json())
                    .then(out => this.usernameList = out);
            },
            emptyNewUser() {
                this.newUserO = {};
                this.newUserO.username = '';
                this.newUserO.password = '';
            },
            emptyEditUser() {
                this.editUserO = {};
                this.editUserO.is_warehouse_worker = false;
            },
            editUser(id) {
                fetch('/api/user/' + id, {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                    }
                })
                    .then(res => res.json())
                    .then(out => {
                        this.editUserO = out;

                        this.editUserO.password = '';
                        this.editUserO.is_warehouse_worker = this.editUserO.roles.some(e => e.name === 'WAREHOUSE_WORKER');
                    });
            },
            saveNew() {
                fetch('/api/user', {
                    method: 'PUT',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'X-XSRF-TOKEN': csrf,
                    },
                    body: JSON.stringify(this.newUserO)
                }).then(res => {
                    if (!res.ok) {
                        throw new Error(res.error);
                    }

                    this.refreshList();
                });
            },
            saveEdit() {
                fetch('/api/user', {
                    method: 'PUT',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'X-XSRF-TOKEN': csrf,
                    },
                    body: JSON.stringify(this.editUserO)
                }).then(res => {
                    this.editUser(this.editUserO.id);
                    if (!res.ok) {
                        throw new Error(res.error);
                    }

                    this.refreshList();
                });
            },
            deleteUser() {
                fetch('/api/user/' + this.editUserO.id, {
                    method: 'DELETE',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'X-XSRF-TOKEN': csrf,
                    },
                    body: ''
                }).then(res => {
                    if(res.status === 400) {
                        console.error('Can\'t delete ADMIN user!');
                    }
                    if (!res.ok) {
                        throw new Error(res.error);
                    }
                    this.emptyEditUser();

                    this.refreshList();
                });
            },
            grantRole(role_name) {
                var userRole = {userId: this.editUserO.id, roleName: role_name};
                fetch('/api/role', {
                    method: 'PUT',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'X-XSRF-TOKEN': csrf,
                    },
                    body: JSON.stringify(userRole)
                }).then(res => {
                    this.editUser(this.editUserO.id);
                    if (!res.ok) {
                        throw new Error(res.error);
                    }
                });
            },
            revokeRole(role_name) {
                var userRole = {userId: this.editUserO.id, roleName: role_name};
                fetch('/api/role', {
                    method: 'DELETE',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'X-XSRF-TOKEN': csrf,
                    },
                    body: JSON.stringify(userRole)
                }).then(res => {
                    this.editUser(this.editUserO.id);
                    if (!res.ok) {
                        throw new Error(res.error);
                    }
                });
            }
        },
        mounted() {
            this.refreshList();
        }
    }).mount('#users');
</script>
</body>
</html>