<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head(title='index')">
</head>
<body>
<div class="d-flex flex-column h-100">
    <div th:replace="fragments/common :: header"></div>
    <div id="products" class="row flex-grow-1 m-0">
        <div class="container-fluid h-100" style="padding-top: 0.75rem;">
            <div class="row h-100" style="padding-bottom: 0.75rem;">
                <div class="h-100 d-flex flex-column">
                    <div class="row m-0">
                        <h2 class="col-auto" th:text="#{title.warehouse}">Warehouse</h2>
                    </div>
                    <div class="row flex-grow-1 m-0">
                        <div class="h-100 d-flex flex-column p-0" style="width: 550px;">
                            <div class="flex-grow-1 d-flex bg-dark rounded p-1 mb-2">
                                <div class="overflow-y-scroll flex-grow-1 pe-1">
                                    <ul class="bs-component list-group p-0" style="height: 0;">
                                        <li class="list-group-item" v-for="product in productList">
                                            <div class="row">
                                                <div class="col">{{ product.name }}</div>
                                                <div class="col-auto p-0 ps-1 pe-1">
                                                    <button type="button" class="btn btn-primary"
                                                            style="padding-top: 0; padding-bottom: 0; padding-left: 8px; padding-right: 8px;"
                                                            v-on:click="editProduct(product.id)" th:text="#{products.edit}">
                                                        Edit
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                    data-bs-target="#newModal" th:text="#{products.new}" @click="emptyNewProduct">New product
                            </button>
                            <div class="modal fade" id="newModal" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" th:text="#{products.new}">New product</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true"></span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <label for="product_name" class="form-label"
                                                   th:text="#{products.product_name}">Product name</label>
                                            <input type="text" class="form-control" id="product_name"
                                                   v-model="newProductO.name"/>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-success" data-bs-dismiss="modal"
                                                    @click="saveNew" th:text="#{products.add}">Add
                                            </button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                                    th:text="#{products.cancel}">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-if="typeof editProductO.id !== 'undefined'"
                             class="col bg-dark rounded ms-2 ps-3 pt-2 h-100 d-flex flex-column">
                            <div class="row">
                                <h3 class="col" th:text="#{products.edit_product}">Edit product</h3>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary p-0" @click="emptyEditProduct"><img
                                            style="vertical-align: top;" src="images/x.png" width="36"/></button>
                                </div>
                            </div>
                            <div class="row align-items-end">
                                <div class="col">
                                    <label for="edit_product_name" class="form-label"
                                           th:text="#{products.product_name}">Product name</label>
                                    <input type="text" class="form-control" id="edit_product_name"
                                           v-model="editProductO.name">
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary" @click="saveEdit"
                                            th:text="#{products.save}">Save
                                    </button>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col">
                                    <h4 th:text="#{products.stock}">Stock: {{editProductO.stock}}</h4>
                                </div>
                            </div>
                            <div class="row mt-2 align-items-center">
                                <div class="col-auto">
                                    <input type="number" class="form-control" min="1" max="100" v-model="amount">
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary" @click="restock"
                                            th:text="#{products.restock}">Restock
                                    </button>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary" @click="sell"
                                            th:text="#{products.sell}">Sell
                                    </button>
                                </div>
                                <div v-if="invalidAmount" class="col-auto text-danger" th:text="#{products.invalid_amount}">You can't sell more than the stock.</div>
                            </div>
                            <div class="flex-grow-1"></div>
                            <div class="row m-0 mb-2">
                                <div class="col"></div>
                                <div class="col-auto ps-1 pe-1">
                                    <button type="button" class="btn btn-danger"
                                            style="padding-left: 30px; padding-right: 30px;"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal" th:text="#{products.delete}">Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="deleteModal" tabindex="-1">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Figyelem!</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p th:text="#{products.delete_message}">Are you sure you want to delete {{editProductO.name}}?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" @click="deleteProduct"
                                                th:text="#{products.delete}" data-bs-dismiss="modal">Delete
                                        </button>
                                        <button type="button" class="btn btn-secondary"
                                                th:text="#{products.cancel}" data-bs-dismiss="modal">Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const csrf = document.querySelector('meta[name="_csrf"]').content;

    Vue.createApp({
        data() {
            return {
                newProductO: {},
                editProductO: {},
                amount: 1,
                invalidAmount: false,
                productList: []
            };
        },
        methods: {
            refreshList() {
                fetch('/api/products', {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                    }
                })
                    .then(res => res.json())
                    .then(out => this.productList = out);
            },
            emptyNewProduct() {
                this.newProductO = {};
                this.newProductO.name = '';
            },
            emptyEditProduct() {
                this.editProductO = {};
                this.amount = 1;
            },
            editProduct(id) {
                fetch('/api/product/' + id, {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                    }
                })
                    .then(res => res.json())
                    .then(out => {
                        this.editProductO = out;
                    });
            },
            saveNew() {
                fetch('/api/product', {
                    method: 'PUT',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'X-XSRF-TOKEN': csrf,
                    },
                    body: JSON.stringify(this.newProductO)
                }).then(res => {
                    if (!res.ok) {
                        throw new Error(res.error);
                    }

                    this.refreshList();
                });
            },
            saveEdit() {
                fetch('/api/product', {
                    method: 'PUT',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'X-XSRF-TOKEN': csrf,
                    },
                    body: JSON.stringify(this.editProductO)
                }).then(res => {
                    this.editProduct(this.editProductO.id);
                    if (!res.ok) {
                        throw new Error(res.error);
                    }

                    this.refreshList();
                });
            },
            deleteProduct() {
                fetch('/api/product/' + this.editProductO.id, {
                    method: 'DELETE',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'X-XSRF-TOKEN': csrf,
                    },
                    body: ''
                }).then(res => {
                    if (!res.ok) {
                        throw new Error(res.error);
                    }
                    this.emptyEditProduct();

                    this.refreshList();
                });
            },
            restock() {
                fetch('/api/product/restock', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'X-XSRF-TOKEN': csrf,
                    },
                    body: JSON.stringify({productId: this.editProductO.id, amount: this.amount})
                }).then(res => {
                    this.editProduct(this.editProductO.id);
                    this.invalidAmount = res.status === 400;

                    if (!res.ok) {
                        throw new Error(res.error);
                    }
                });
            },
            sell() {
                fetch('/api/product/sell', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'X-XSRF-TOKEN': csrf,
                    },
                    body: JSON.stringify({productId: this.editProductO.id, amount: this.amount})
                }).then(res => {
                    this.editProduct(this.editProductO.id);
                    this.invalidAmount = res.status === 400;

                    if (!res.ok) {
                        throw new Error(res.error);
                    }
                });
            }
        },
        mounted() {
            this.refreshList();
        }
    }).mount('#products');
</script>
</body>
</html>